# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# vim garbage
.*.swp
.*.swo

# Executables
*.exe
*.out
*.app

Source/progname.s

#Unignore this - because .lib extension is ignored for libraries
!FaustCode/owl.lib

# Tools
FirmwareSender/
Tools/FirmwareSender
Tools/Python-2.7.13/
Tools/emsdk/
Tools/gcc-arm-none-eabi-12-2-1

